.MapContainer {
  width: 100%;
  height: 100%;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  box-shadow: var(--box-shadow);
  border-radius: 8px;

  transition: background 0.3s ease-in-out;

  div {
    border-radius: 4px;
  }


}


.animation{
  animation: fadeIn 1.2s forwards;
  border-radius: 50% !important;

  width: 100%;
  height: 120%;
  
  position: relative;
  z-index: 100000;
  top: -40px;

   div {
    background: red !important;
    color: red !important;

  }
}


@keyframes fadeIn {
  0% {
    background-color: rgba(255, 255, 255, 0.332);
    transform: scale(.3);
  }
  50% {
    background-color: rgba(255, 255, 255, 0.122);
    transform: scale(1.4);

  }
  100% {
    background-color: transparent
  }
}