.profileContainer {
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;

    width: 240px;
    height: 540px;
    padding: 36px;

    background: var(--grayCyan-800);
    box-shadow: var(--box-shadow);
    border-radius: 8px;
    
    h3 {
      font-size: 1.4rem;
      font-weight: normal;
      letter-spacing: 3px;
    }
    
    img {
    width: 180px;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: var(--box-shadow);

    margin-bottom: 20px;    
  }

  .profileContent {

    flex-direction: column;

     div {       
       flex-direction: column;
       align-items: flex-start;
       gap:2px;
       
       margin-top: 10px;

      p {
        color: var(--grayCyan-300);
      }

      h5, p {
        font-size: 1rem;
      }
    }
  }
}


