.container {
  width: 79vw;
  height: 98vh;

  display: flex;
  gap: 20px;

  align-items: flex-start;
  margin: 1rem; 

  overflow-y:scroll;
  overflow-x:scroll;


  .column{
    display: grid;
    gap: 20px;
  }
  
  .row {
    display: flex;
    gap: 20px;
  }
}

