.buttonContainer {
  display: flex;
  align-items: center;
  padding: 10px;

  letter-spacing: 2px;
  font-size: 1.125rem;

  background-color: #373945;
  opacity: 0.8;

  border-radius: 0.25rem;
  border: 0;
  transition: background 200ms;

  color: var(--white);

  img {
    width: 36px;
    height: 28px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 15px;
  }

  & + button {
    margin-top: 15px;
  }

  &:hover {
    background-color: #4b4d59;
  }
}
