.sidebarContainer {
  width: 300px;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.8rem;

  box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
 // background:  url("/images/background.svg") no-repeat 100% -18%;

 > img { 
  position: absolute; 
  width: 300.6px; 
  height: 180px; 
  object-fit: cover 
}

  transition: background 0.3s ease-in-out;

  span {
    text-align: center;
    margin: 2.6rem 1rem ;
    font-family: "Ubuntu";


    font-size: 1.8rem;
    color: #cbd3ffb9;
    letter-spacing: 4px;

    p {
      color: #647bffd5;
      letter-spacing: 10px;
    }
  }

  .sidebarContent {
    width: 70%;
    //height: 66%;
    padding-right: 0.8rem;
    overflow-y: scroll;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  .sidebarFooter {
    display: grid;
    justify-content: center;
    width: 20rem;

    p {
      font-size: 14px;
    }

    div {
      justify-content: center;
      display: flex;
      gap: 14px;
      padding: 14px;
    }

    a {
      svg {
        width: 26px;
        height: 26px;
        transition: filter 0.2s;
      }

      &:hover {
        svg {
          filter: brightness(0.6);
        }
      }
    }
  }
}
