.sidebarContainer{
  width: 20rem;
  height: 100%;

  display: flex;
  flex-direction: column;
  
  position: fixed;

  padding: 3rem 0;
  align-items: center;

  box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);

  background: #2E303C url('/images/background.svg') no-repeat 100% -10%;

  span {
    text-align: center;
    margin-bottom: 6rem;
    font-family: 'Ubuntu';
    
    font-size: 3rem;
    color: var(--cyan-500);
    letter-spacing: 6px;
    
  }
}

.sidebarContent{
  width: 70%;
  margin: 0 auto;

  display: flex;
  flex-direction: column; 
}