.tableContainer{
  width: 260px;
  height: 370px;

  border-radius: 8px 8px 0 0;
  box-shadow: var(--box-shadow);
  
  tr > td {
    height: 64px;
    font-size: 14px !important;

    div {
      margin: 0 auto;
      width: 30px;
      height: 30px;
      display: flex;
      border-radius: 8px;
    }
  }

    
  th {
    color: rgb(216, 216, 216);
  }
  
  th,
  td {
  	padding: 8px 15px;
  	background-color: rgba(170, 170, 170, 0.075);
  }

  thead {
  	th {
  		background-color: #2E303C;
      text-align: left;
  	}

    :first-child {
      border-radius: 8px 0 0 0;
    }
    :last-child {
      border-radius: 0 8px 0 0;
    }
  }

  tbody {
  	tr {
      transition: background .2s;
      cursor: pointer;
  		&:hover {
  			background-color: rgba(255, 255, 255, 0.096);
  		}

      td {
        position: relative;
        
        a {
          width: 440px;
          height: 100%;

          position: absolute;
          z-index: 10;
          left: 0;
          top: 0;          
        }
      }
  	}
  }

}